<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Earnestek Academy - quiz template using js </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/ecom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
          <li><a onclick="openModal1()"><i class="material-icons" id='cartbtn'>&nbsp;shopping_cart</i>CART<span class="new badge red " data-badge-caption="Items">4</span></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Cart<span class="new badge">4</span></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div id="container">
      <div class="row">
        <div class="col s12 m12 l3">
          <nav class="search-title-filter">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
          <ul class="collapsible" data-collapsible="expandable">
            <li class="">
              <div class="collapsible-header active"><i class="material-icons">local_activity</i>Styles</div>
              <div class="collapsible-body " style="display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                <p>
                  <select multiple>
                  <!--<option value="" disabled selected>Choose your option</option>-->
                  <option value="1" selected>Laptop</option>
                  <option value="2" selected>Desktop</option>
                  <option value="3" selected>2.5''</option>
                  <option value="4" selected>3.5''</option>
                </select>
                  <label>Materialize Select</label>
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header active"><i class="material-icons">pin_drop</i>Country</div>
              <div class="collapsible-body">
                <p><select id="country-select"></select>
                  <label>Optgroups</label></p>
              </div>
            </li>
            <li>
              <div class="collapsible-header active"><i class="material-icons">label</i>Hard Disk type</div>
              <div class="collapsible-body filter-container">
    
                <ul>
                  <li>
                    <input type="checkbox" name="product-type-filter" class="product-type-filter filled-in" id="internalhdd" checked="checked" value="Internal HDD" />
                    <label for="internalhdd">Internal HDD</label>
                  </li>
                  <li>
                    <input type="checkbox" name="product-type-filter" class="product-type-filter  filled-in" id="externalhdd" checked="checked" value="External HDD" />
                    <label for="externalhdd">External HDD</label>
                  </li>
                </ul>
    
              </div>
            </li>
          </ul>
    
        </div>
    
        <!-- Cards container -->
        <div class="col s12 m12 l9">
    
          <h4>Hard Disks</h4>
          <h5></h5>
          <div id="card-container" class="row">
            <!-- Col: Card 1 -->
            <div class="col s12 m6 l4">
              <!-- Card 1 -->
              <div class="card">
                <div class="card-content white-text">
                  <div class="card__date">
                    <span class="card__date__day">23</span>
                    <span class="card__date__month">Mai</span>
                  </div>
                  <div class="card__meta">
                    <a href="#"><i class="small material-icons">room</i>Savoy dance club</a>
                    <time>17th March</time>
                  </div>
                  <span class="card-title grey-text text-darken-4">Savoy swing up</span>
    
                  <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                  <div class="row card-row">
                    <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                  </div>
                  <div class="row card-row">
                    <span class="text-darken-2 card-info"><i class="small material-icons">place</i>&nbsp;lindy hop, balboa, charleston</span>
                  </div>
                  <div class="row card-row">
                    <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;lindy hop, balboa, charleston</span>
                  </div>
                  <div class="row card-row">
                    <span class="text-darken-2 card-info"><i class="small material-icons">schedule</i>&nbsp;lindy hop, balboa, charleston</span>
                  </div>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                  <a href="#" class="card-action-right"><i class="material-icons">&nbsp;share</i>SHARE</a>
                </div>
              </div>
              <!-- End of card -->
            </div>
            <!-- End of col -->
            <!-- Col: Card 1 -->
            <div class="col s12 m6 l4">
              <!-- Card 1 -->
              <div class="card">
                <div class="card-content white-text">
                  <div class="card__date">
                    <span class="card__date__day">23</span>
                    <span class="card__date__month">Mai</span>
                  </div>
                  <div class="card__meta">
                    <a href="#"><i class="small material-icons">room</i>Web Design</a>
                    <time>17th March</time>
                  </div>
                  <span class="card-title grey-text text-darken-4">Savoy swing up</span>
    
                  <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                  <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                  <a href="#" class="card-action-right"><i class="material-icons">&nbsp;room</i>FIND</a>
                </div>
              </div>
              <!-- End of card -->
            </div>
            <!-- Col: Card 1 -->
            <div class="col s12 m6 l4">
              <!-- Card 1 -->
              <div class="card">
                <div class="card-content white-text">
                  <div class="card__date">
                    <span class="card__date__day">23</span>
                    <span class="card__date__month">Mai</span>
                  </div>
                  <div class="card__meta">
                    <a href="#"><i class="small material-icons">room</i>Web Design</a>
                    <time>17th March</time>
                  </div>
                  <span class="card-title grey-text text-darken-4">Savoy swing up</span>
    
                  <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                  <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                </div>
                <div class="card-action">
                  <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                  <a href="#" class="card-action-right"><i class="material-icons">&nbsp;room</i>FIND</a>
                </div>
              </div>
              <!-- End of card -->
            </div>
    
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Shopping Cart</h4>
        <div id="modal_content" class="row">
      
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Checkout</a>
        </div>
      </div>

</body>
<footer class="page-footer orange">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
    
    
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
    <!--  Scripts-->
    <script type="text/javascript" src="../js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="../js/ecomm.js"></script>

  <script type="text/javascript">
    function addToCart(productid){
      cartItems = new Array();
      if (sessionStorage.getItem("cartItems") === null) {
          cartItems.push(productid);
        }
      else{
          cartItems = JSON.parse(sessionStorage.getItem("cartItems"));
          cartItems.push(productid);
      }
      sessionStorage.setItem("cartItems",JSON.stringify(cartItems));
      jQuery('.badge').html(cartItems.length);
    }
    function openModal1() {
      //simulate ajax call to get the modal content
      var htmlFromServer = getHtml();

      //append the html to the modal
      $('#modal_content').html(htmlFromServer);
      //open the modal
      $('#modal1').openModal();
    }
    function getHtml() {
  return '<div class="col s12">' +
    '<ul class="tabs">' +
    '<li class="tab col s3 active"><a href="#test1">Test 1</a></li>' +
    '<li class="tab col s3"><a href="#test2">Test 2</a></li>' +
    '<li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>' +
    '<li class="tab col s3"><a href="#test4">Test 4</a></li>' +
    '</ul></div>' +
    '<div id="test1" class="col s12">default tab</div>' +
    '<div id="test2" class="col s12">' +
    '<div class="row country-other">' +
    '<div class="input-field col s12">' +
    '<input type="text" class="validate" id="address_detail">' +
    '<label class="active" for="address_detail">This tab is not default</label>' +
    '</div>' +
    '</div>' +
    '</div>' +
    '<div id="test3" class="col s12">Test 3</div>' +
    '<div id="test4" class="col s12">Test 4</div>';
};
  </script>
      
      
</footer>
</html>